* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
   
}
.wrapper {
    height: 100%;
    width: 100%;
}

 .nav {
    height: 100px;
    width: 100%;
    display: flex;
}
.navA {
    height: 100%;
    width: 30%;
    display: flex;
align-items: center;
justify-content: flex-start;
padding: 0 5vw;


    }
.navA h2 {
    /* margin-top: 2vw;
    margin-left: 4vw; */

}


.navB {
    height: 100%;
    width: 70%;
    /* display: flex; */
}
.navB1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
color: black;
    text-decoration: none;   
}
    .navB1 a {
    padding: .6vw;
    text-decoration: none;
    color: black;
}
.navB1 button {
    border-radius: 4px;
    padding: .6vw 2vw;
margin-right: 2vw;
margin-left: 3vw;
text-align: center;

text-align: center;
background-color: transparent;
}

.main {
    height:calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
}
.text {
   display: flex;
   height: 100%;
   width: 90%;
   justify-content: flex;
   align-items: flex-start;
   background-image: url(swab.jpg);
   background-size: cover;
   background-position: end;
   border-radius: 8px;
   flex-direction: column;

}
.text h1{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 2vw;
    margin-bottom: 3vw;
    padding-top: 1vw ;
    
}


.text p {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: brown;
    font-size: medium;
}
.abc{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 1vw;
    background-color: aquamarine;
}

